<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Ruby Beginner's Corner</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div id="wrapper">
		<header>
			<h1><a href="/">Ruby Beginner's Corner</a></h1>
		</header>
		<nav>
			<!--
			
			the following block of embedded ruby
			allows you to have login/logout functionality
			on every page!
			
			Can you figure out what's going on here?
			
			-->
			<% if defined?(@user) && @user != nil %>
				<p>You are logged in as <%= @user.name %></p>
				<a href="/logout">Logout</a>
			<% else %>
				<p>You are not logged in.</p>
				<a href="/login">Login</a>
			<% end %>
		</nav>
		
		<div id="content">
			<%= yield %>
		</div>
		
	</div>
</body>
</html>