<h2>Login</h2>

<% if defined?(@user) && @user != nil %>
	<p>You are already logged in!</p>
<% else %>

	<form method="POST" action="/login">

		<fieldset>
			<label for="name">Enter Name:</label>
			<input type="text" name="name"/>
		</fieldset>

		<fieldset>
			<label for="password">Enter Password:</label>
			<input type="password" name="password"/>
		</fieldset>

		<input type="submit"/>

		<% if defined?(error_msg) %>
			<div class="error">
				<p><%= error_msg %></p>
			</div>
		<% end %>

	</form>

<% end %>