* {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}
html, body {
	background: #eee;
	color: #333;
	font-family: arial, sans-serif;
}
#wrapper {
	background: #fff;
	margin: 0 auto;
	min-height: 500px;
	width: 960px;
}
header {
	text-align: center;
	padding: 30px 0 10px;
}
header h1,
header h1 a {
	color: #68a;
	text-decoration: none;
}
header h1 a:hover {
	color: #9ac;
}
header h1 a:active {
	bottom: -2px;
	position: relative;
}
nav {
	color: #999;
	padding: 5px 5px 10px 20px;
}
nav p {
	margin-bottom: 13px;
}
nav a,
input[type=submit] {
	background: #68a;
	color: #fff;
	font-size: 16px;
	margin: 10px 0 0;
	padding: 6px 15px;
	text-decoration: none;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
nav a:hover,
input[type=submit]:hover {
	background: #9ac;
}
nav a:active,
input[type=submit]:active {
	bottom: -2px;
	position: relative;
}
#content {
	margin-top: 5px;
}
#content h2 {
	background: #ddd;
	color: #89a;
	margin: 20px 0;
	padding: 5px 0 5px 20px;
}
#index #ruby-logo {
	display: block;
	margin: 50px auto 20px;
	opacity: 0.8;
	width: 200px;
}

form fieldset {
	margin-bottom: 10px;
}
form label {
	display: inline-block;
	padding-right: 10px;
	text-align: right;
	width: 200px;
}
form input[type=text],
form input[type=password] {
	border: 1px solid #444;
	font-size: 16px;
	padding: 3px 3px 3px 5px;
}
form input[type=submit] {
	margin-left: 215px;
}